{% extends 'base_menu.html' %}
{% load static %}

{% block content1 %}
<section id="auth-register" class="row justify-content-center">
    <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-header bg-eureka-black  d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-white"><b>Cambiar contraseña</b></h5>
                </div>
                <div class="card-body">
                    
                    <!-- 🔹 Mostrar mensajes de Django -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert 
                                {% if message.tags == 'success' %} alert-success 
                                {% elif message.tags == 'error' %} alert-danger 
                                {% elif message.tags == 'warning' %} alert-warning 
                                {% elif message.tags == 'info' %} alert-info 
                                {% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- 🔹 Fin de mensajes -->
                
                    <form class="form" method="post">
                        {% csrf_token %}
                
                        {% for field in form %}
                            <div class="form-group mb-1">
                                {{ field }}
                
                                {% if form.is_bound and field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                
                        <div class="form-actions d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-warning glow w-100 position-relative">
                                Guardar
                            </button>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="eureka-black" href="{% url 'account_update_view' %}"><small><b>Actualizar perfil</b></small></a>
                        </div>
                    </form>
                </div>                                
            </div>
        </div>
    </div>
</section>
{% endblock %}
